/* Navbar container */
.navbar {
    overflow: hidden;
    background-color:#003366;
    font-family: Arial;
    min-width: inherit;
    text-align: center;
  }

  .log-button{
    text-align: right;
    display: inline;
    background-color: purple;
    float: right;
  }

  /* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown img {
    margin: 0px;
    align-content: center;
    background-color: white;
   
    height:auto;
    width:100px;
}
  .header-title{
   float: center;
   text-align: center;

  }
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    color: white;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#97824a;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #003366;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #003366;
    color: white
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* old css */
.header-title{
    margin: auto;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: auto;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    color: #97824a;
}


