<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn"> <a href="#top"> <img
    width="40"
    alt="Clarion Logo"
    src="assets/images/clarion_logo.png"> </a>
    </button>
    <div class="dropdown-content">
      <a href="#contact">Contact List</a>
      <a href="#information">Important Information</a>
      <a href="#calendar">Calendar</a>
      <a href="#socialmedia">Social Media</a>
    </div>
  </div>
  <div class="header-title">
   Welcome to Clarion Volleyball Camp
  </div>
  <div >
  <button class="log-button">Log In</button>
  </div>
</div>
<br>

