/* slideshow css */
#slideshow-container {
    width: auto;
    margin: 5px auto;
    padding: 0;
    background-color:#ffff;
  }
  /*
  .items{
    width:100%;
    max-width:auto;
    height: 200px;
    background: #77f;
    widows:100px;
  }*/
  
  .carousel-images{
    widows: 400px;
    height:200px;
  }
  
  #left, #right{
    margin: 10px;
  }